body {
    display: inline-block;
    place-items: center;
    width: 100%;
    background-color: #222021;
    font-family: Arial, Helvetica, sans-serif;
}

.popUp {
    width: 400px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    visibility: hidden;
}

.open-popUp {
    visibility: visible;
}

.text {
    padding: 15px;
    color: whitesmoke;
    font-size: 25px;
}

button {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    margin: 20px auto;
    padding: 10px;
    background-color: #222021;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.game {
    position: relative;
    margin: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 50px;
}

.round {
    color: whitesmoke;
}

.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(120%);
}

.Red {
    background-color: #ff6961;
}
.Blue {
    background-color: #83ebf2;
}
.Green {
    background-color: #80ef80;
}
.Yellow {
    background-color: #fdfd96;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.grid {
    display: inline-block;  
}